[2015-02-08 21:40] ryan-roemer opened #1 "Add tests."
`v0.0.1` didn't even import correctly :disappointed:

Let's add some tests to avoid future embarrassments!

[2015-02-28 11:09] stephanos opened #2 "undefined is not a function"
When I add
[code]
to my plugins, this happens:

[code]

PS: running on node 0.12

[2015-02-28 20:12] #2 closed

[2015-02-28 20:16] ryan-roemer commented on #2
Released in version `0.0.4`.

Thanks for the bug report @stephanos !

[2015-03-06 19:39] sebastienbarre opened #3 "this.plugin('done')"
Can't it just be done with the plugin api?

[code]

[2015-03-06 20:09] ryan-roemer commented on #3
@sebastienbarre -- If that's all you need, then you definitely should just DIY ;)

However, the plugin actually provides more than that as documented at: https://github.com/FormidableLabs/webpack-stats-plugin#statswriterpluginopts and does some useful things like `mkdir`-ing patches, etc...

[2015-03-06 20:09] #3 closed

[2015-03-06 20:13] sebastienbarre commented on #3
Oh I see. Thanks. I was curious, no offense meant.

[2015-03-06 20:17] ryan-roemer commented on #3
@sebastienbarre -- No worries! I originally started with something very close to what you had, then as I added more little options and had to implement it in a second project, I stopped and wrote this module. ;)

[2015-06-30 19:08] kisenka opened #4 "TypeError: Property 'mkdirpSync' of object #<Object> is not a function"
I am getting following error when starts webpack-dev-server:

[code]

Looks like it [memory-fs](https://github.com/webpack/memory-fs) issue but, maybe, you can help me with it?
Btw, It really cool feature to write stats file to memory fs! :)

[2015-06-30 19:20] ryan-roemer commented on #4
@kisenka -- Have you tried writing _other_ webpack output to memory-fs? I've wanted to slightly retool this plugin to just add the stats output as a file like normal JS bundles are emitted and that ideally would just solve your issue too...

[2015-06-30 19:37] kisenka commented on #4
@ryan-roemer yes, with the same result :( As the temporary solution I write stats file to the ordinary file system and seems like its the only way to deal with it.

[2015-06-30 19:41] ryan-roemer commented on #4
@kisenka -- Let me see what I can do ;)  This is a use case that makes sense to support.

If there were no `mkdirpSync` call, would it otherwise work? (Off the top of my head, I could infer if there was any path delimiter like `/` and not do the `mkdirpSync` call if no delimiters...)

[2015-06-30 20:20] kisenka commented on #4
@ryan-roemer if there is no `mkdirpSync` call it quits with `Path doesn't exist` error. Here is my experiment.

**webpack.config.js**:

[code]

If you run webpack with this config - it works great, file `_assets/qwe/test.txt` will be created. But with webpack-dev-server it causes an error.

Maybe @sokra can help us with this issue? :)

[2015-07-16 20:59] ryan-roemer commented on #4
Fixed in `v0.1.0`.

[2015-07-16 20:59] #4 closed

[2015-10-08 21:37] gpbl opened #8 "TypeError: must start with number, buffer, array or string"
👋 I've upgraded to 0.1.1 and now I get the following error using [this config](https://github.com/gpbl/isomorphic500/blob/master/webpack/prod.config.js). I'm on node 4.

[code]

Am I missing something?

[2015-10-12 03:29] ryan-roemer commented on #8
I've installed Node `v4.1.2` and I'm trying different variations in https://github.com/FormidableLabs/webpack-stats-plugin/blob/master/demo/webpack.config.js#L16-L42 and I can't reproduce. Can you do a pull request / paste a code diff here with an update to https://github.com/FormidableLabs/webpack-stats-plugin/blob/master/demo/webpack.config.js#L16-L42 that errors with your error when running `np

[2015-10-12 11:15] opportunato opened #9 "empty stats.json"
Hi!

I am using 1.0.0 version, and at the end of the build process I am getting empty stats.json.

How possibly can I debug it and get the cause?

My config looks like this:

[code]

[2015-10-12 11:21] ryan-roemer commented on #9
Hi @opportunato

Can you perhaps point me to a branch that has the empty output issue if your project is open source?

If not, let's look at what the stats object actually looks like. Add a console log like this:

[code]

and we can debug it further from there...

[2015-10-12 11:28] opportunato commented on #9
Hi @ryan-roemer, thanks for an amazingly quick answer!

And here is my data:

[code]

[2015-10-12 11:34] ryan-roemer commented on #8
Finally reproduced it. The issue is that we no longer `JSON.stringify` the result of a transform to allow users to do atypical things like generate Markdown output, etc.

So the following:

[code]

Should fix your issue. Can you confirm and close?

In parallel, I work on the documentation to enhance / correct it surrounding the issue.

[2015-10-12 11:41] ryan-roemer commented on #9
@opportunato -- can you try the following?

1. Update to `v0.1.1`
2. Change your transform function like this:

[code]

and let me know how that goes?

[2015-10-12 11:48] opportunato commented on #9
Now everything works.

Thank you very much, should have checked out the documentation more thoroughly!

[2015-10-12 11:48] #9 closed

[2015-10-12 11:51] ryan-roemer commented on #9
No worries, and glad that was the issue! The update to `v0.1.1` which no longer automatically stringified `transform` results has been biting other folks too (see #8).

So I _just_ updated the documentation with a bigger, badder warning about needing to return `String` (https://github.com/FormidableLabs/webpack-stats-plugin/commit/07bfbb2695417d9ef3135cdc8f92857fc1a076d8)

[2015-10-21 03:34] ryan-roemer commented on #8
@gpbl -- Closing this as I think we've got your issue solved now. Feel free to re-open if that's not the case.

[2015-10-21 03:34] #8 closed

[2015-11-20 20:30] gpbl commented on #8
Thanks @ryan-roemer, it worked! Sorry for the late answer.

[2016-01-02 13:57] aniket29081992 commented on #8
how to get this fix?

[2016-01-02 22:45] ryan-roemer commented on #8
@aniket29081992 -- Please follow the example in my comment: https://github.com/FormidableLabs/webpack-stats-plugin/issues/8#issuecomment-147370625

If that doesn't work, please paste a GitHub link or a code snippet with context around your instantiation of `new StatsWriterPlugin({ /*STUFF*/ })`

[2016-02-29 23:29] vlkosinov opened #11 "Default export"
Thank you for this plugin!

Why StatsWriterPlugin doesn't exported as default?

less confusing:

[code]

[2016-03-03 23:48] ryan-roemer commented on #11
@vlkosinov -- I was thinking there's a lot more to the stats object than just "writing" (maybe like streaming, etc) as a future surface...

[2016-09-12 07:01] gvahinde commented on #8
Unable to understand this error :

err  TypeError: must start with number, buffer, array or string
         at fromObject (buffer.js:244:9)
         at Function.Buffer.from (buffer.js:118:10)
         at new Buffer (buffer.js:97:17)
         at decodeCredentials (C:\Working\develop\src\Netchex\node_modules\jspm-github\github.js:55:14)
         at Object.GithubLocation (C:\Working\develop\src\Netch

[2016-09-12 09:07] ryan-roemer commented on #8
@gvahinde - I don't see this loader in that stack trace and it looks like you're using jspm, not webpack?

If you are having an issue with this plugin, please open a new issue and include your full webpack configuration, the command you're running on the terminal and ideally full reproduction steps (if this is an open source project) so that we can better assist you.

[2016-11-02 00:28] matheusrocha89 opened #16 "Unhandled rejection TypeError: Cannot read property '0' of undefined"
When I try to run the build process with webpack I am having this error:
[code]

[2016-11-02 00:38] ryan-roemer commented on #16
@matheusrocha89 -- Can you

1. Tell us what version you're using?
2. If not `v0.1.3`, downgrade and try that?
3. Point us to your webpack config + full project if it's open source?

Thanks!

[2016-11-02 00:52] matheusrocha89 commented on #16
The version I am using is `0.1.4`
The code is not open :/
The branch that the error start adds some new packages to the project like, redux, redux-thunk, whatwg-fetch, lodash.

Right now I am using git bisect to discover which commit starts the problem. But just to say on my webpack dev config I am using this on plugins array to use the whatwg-fetch:
[code]

[2016-11-02 01:01] matheusrocha89 commented on #16
Found the problem and solved. God bless `git bisect` :) It was a problem on my webpack configuration, my bad, sorry. I'm ashamed.
![image](https://cloud.githubusercontent.com/assets/3718366/19913139/b1b6ac52-a07e-11e6-9e57-7c1fb3a68a81.png)

[2016-11-02 01:02] #16 closed

[2016-11-02 01:44] ryan-roemer commented on #16
haha, no worries. And ❤️ `git bisect`...

[2016-12-14 10:29] slorber opened #17 "filename option does not work?"
Hi,

I tried to use the filename option with filename: "webpackStats.json" but it created a stats.json file

[2016-12-14 10:41] slorber commented on #17
hmmm sorry it seems to work finally, just found it my ./build folder (I was looking for it at the project root)

[2016-12-14 10:41] #17 closed

[2016-12-21 18:42] chrisbateman opened #18 "Provide option to set toJson options"
When you generate stats with the Webpack CLI - it passes a particular set of "outputOptions" to `toJson()`. This results in different output than calling it without any options, which this plugin currently does.

Providing the ability to pass the custom outputOptions into the `toJson()` call would allow users to customize the results, or make them match the default Webpack results.

[2016-12-21 20:33] ryan-roemer commented on #18
Hmm... Already you _could_ do something like:

[code]

to get you by, bypassing the `data` and using the compiler directly.

But, I would potentially be open to a PR with an additional options field to punch into the `toJson()` call. Feel free to strawman it here first!

[2016-12-22 02:10] chrisbateman commented on #18
Shoot, I didn't notice that the transform function provides the compiler. So yeah, this could work:

[code]

But it does require you to learn about `compiler.getStats().toJson()` and `JSON.stringify(stats, null, 2)` which this plugin covers for you otherwise.

An option to pass in the output options might look like this:
[code]

[Webpack's docs/config](https://webpack.js.org/configuration/stats/#s

[2016-12-22 02:11] chrisbateman commented on #18
Either way, thanks for the quick response!

[2016-12-31 08:48] morajabi commented on #16
I have this error too.

[2016-12-31 23:24] ryan-roemer commented on #16
Like the previous poster, can @morajabi -- Can you

1. Tell us what version you're using?
2. If not `v0.1.3`, downgrade and try that?
3. Point us to your webpack config + full project if it's open source?

Thanks!

( _very likely you aren't actually producing **any** bundles and have an error in your configuration_ )

[2017-01-05 02:41] matheusrocha89 commented on #16
@morajabi Check your `webpack` configuration, my problem was that.

[2017-01-11 19:37] ryan-roemer commented on #18
Yeah, I'd be open to a PR that adds a field `stats` that is straight passed to `toJson()` with links to the documentation you linked in. Thanks!

[2017-01-11 19:38] #11 closed

[2017-03-16 09:06] evilebottnawi opened #19 "Less package size using `files` in `package.json`"
Now in package there are a lot extra unnecessary files (`gulpfile.js`, `.jscsrc` and etc), be good not exported this in package.

[2017-03-21 17:26] manatarms opened #20 "Only one chunk in stats.json"
I'm having some trouble using this plugin. My stats plugin by default looks like this
`{
  "assetsByChunkName": {
    "app": "app.js"
  }
}`

And I'm using this code to generate the file
`new StatsWriterPlugin({
    filename: 'stats.json' // Default
  })`

Any reason why it wouldn't show me all the information?
Thanks.

[2017-03-21 17:51] ryan-roemer commented on #20
Yes, `assetsByChunkName` is the default value for `opts.fields` per the documentation: https://github.com/FormidableLabs/webpack-stats-plugin#statswriterpluginopts

You can see lots of examples of uses here: https://github.com/FormidableLabs/webpack-stats-plugin/blob/master/demo/webpack.config.js

And in your case, `fields: null,` sounds like the option you want.

[2017-03-21 21:52] manatarms commented on #20
Thanks. I'll look into it. I'm closing this out for now. Cheers!

[2017-03-21 21:52] #20 closed

[2017-03-30 22:58] ryan-roemer commented on #19
Totally. I'd ❤️ a PR for this. (Or, I'll get to it eventually...)

[2017-03-31 12:21] ryan-roemer commented on #19
Fixed in #21

[2017-03-31 12:21] #19 closed

[2017-04-07 10:21] evilebottnawi opened #22 "Added `fields: 'all'` option producing all fields stats"
I can do PR of your accept.

[2017-04-10 02:29] ryan-roemer commented on #22
[code]

already does this. It's in the README, but admittedly in a somewhat buried "note".

[2017-04-10 07:47] evilebottnawi commented on #22
@ryan-roemer thanks!

[2017-04-10 07:47] #22 closed

[2018-02-28 14:21] ryan-roemer opened #24 "Test: Add mocha + all webpacks"
- [ ] Figure out how to install all of them. webpack1-4.
    - Possibly use yarn workspaces?
- [ ] Add Mocha tests on stats output if possible.

[2018-02-28 14:22] ryan-roemer opened #25 "Docs: Add autodocs from JSDoc comments."
This was removed with gulp + `gulp-mdox`.

- [ ] Add a `package.json:scripts` task to build back in in the same way.

[2018-02-28 15:42] ryan-roemer opened #27 "Feature: Allow transform to be a promise."
- [x] Add promise handling
- [x] Add demo test case.

[2018-03-01 04:27] #24 closed

[2018-03-01 22:03] #27 closed

[2018-03-23 23:42] ryan-roemer commented on #1
Totally implemented https://github.com/FormidableLabs/webpack-stats-plugin/tree/master/test

[2018-03-23 23:42] #1 closed

[2018-12-17 07:44] idangozlan opened #34 "filename attribute can't get absolute path"
filename attribute can't get absolute path, it's always using publicPath as base location

[2018-12-17 20:11] ryan-roemer commented on #34
Yep. The documentation for the `filename` fields notes the restriction in our docs here: https://github.com/FormidableLabs/webpack-stats-plugin#statswriterpluginopts

The reason is that the plugin emits compilation assets (See: https://github.com/FormidableLabs/webpack-stats-plugin/blob/master/lib/stats-writer-plugin.js#L101-L109)

If you have a first-class-webpack-plugin approach for supporting a

[2019-05-06 10:02] davideapvd opened #37 "using stats file with dev server"
when using the dev server no stats.json file is output, how do I force it?

[2019-05-06 18:46] ryan-roemer commented on #37
We wrote this plugin a long time ago for that exact scenario for _any_ asset in webpack (which is all in memory for the dev server): https://github.com/FormidableLabs/webpack-disk-plugin

That should fit your use case, although I'm not sure if it needs updating for modern webpack...

[2019-07-10 16:41] #18 closed

[2019-07-25 10:05] fender commented on #37
@davideapvd I ended up writing my own plugin that is slightly simplified and always writes the stats JSON file to disk, regardless of whether you're in a dev or production environment.
https://github.com/fender/webpack-stats-disk-plugin

[2019-07-25 10:35] davideapvd commented on #37
thank you for this plugin, for now I ended up requesting the file from the dev server at the url http://devurl/stats.json, but if that will lead to some issue I'll trying your plugin.

[2019-11-14 23:51] jdrub opened #43 "Docs: Split Stats by Entry Point Example"
The [inspectpack docs](https://github.com/FormidableLabs/inspectpack#note-multiple-entry-points) say that you can use this plugin to generate separate stats files per entrypoint. Since it seems like a relatively important use case to get the most out of inspectpack, can you add that as an example in this repo? I'm having some trouble understanding how to properly write a custom transform function

[2019-11-19 20:56] ryan-roemer commented on #43
Hi @jdrub !

Here's a quick example to get you going. The small awkward part of this is that there's still a default asset created as `filename` setting dictates, which you could just ignore:

[code]

[2019-12-17 17:11] elsassph opened #44 "BUG: Missing `stats` option fields that should be default enabled."
We've been using `webpack-stats-plugin` v0.2.0 with this configuration:
[code]
And the v0.3.0 seems to cause a regression: the `stats.json` file only includes `assetsByChunkName` and the `assets` information.

[2019-12-17 18:31] ryan-roemer commented on #44
Hi @elsassph ! Would you be able to get a minimal repository that I can install and run webpack builds against that exhibits the behavior in `0.3.0` but not `0.2.0`? Thanks!

(If you don't have time, I'll see if I have enough time to cobble together something to approximate what I think you have...)

[2019-12-17 18:53] ryan-roemer commented on #44
**UPDATE**: Bug is verified. There's something about adding in the `stats` options that messes with defaults.

@elsassph -- While I figure things out more, this should work for you by explicitly enabling stats fields that have been set to false (and I'm not sure why yet):

[code]

[2019-12-18 09:28] elsassph commented on #44
@ryan-roemer I can confirm the `stats` object fixes the issue.

[2019-12-18 17:20] #44 closed

[2019-12-18 17:22] ryan-roemer commented on #44
@elsassph -- just released `webpack-stats-plugin@0.3.1` should also fix the issue without needing the extra `stats` configuration field.

[2019-12-18 17:58] elsassph commented on #44
@ryan-roemer I can confirm `0.3.1` just works 👍

[2020-06-16 00:39] dominics opened #47 "Feature request: way to generate filename dynamically"
I'm using this plugin within a build where I have a bunch of limitations outside of my control. The build is run by serverless-webpack, so it is controlling the Webpack configuration and running a bunch of parallel builds using cloned configuration, via https://github.com/serverless-heaven/serverless-webpack/blob/ffb1a5b0f027e8e40e9093075edc25db1b0e18d4/lib/validate.js#L212-L220 - I also want to m

[2020-06-16 00:56] ryan-roemer commented on #47
I can take a look into the change later maybe this week. Easier path may just be a serverless package include/exclude ignore pattern (and I’ve done a lot of work with that stuff with the https://www.npmjs.com/package/serverless-jetpack#tracing-mode plugin that does what the webpack plugin does — trace imports — except using real files and not creating an extra bundle file).

Can you share some exa

[2020-06-16 00:58] ryan-roemer commented on #47
Oh, and happy to help separately if you want to try jetpack. It has things like built in multi-cpu concurrency too 🙂

[2020-06-16 01:09] dominics commented on #47
Perhaps a bit off topic for webpack-stats-plugin, but it might help to explain a few things I tried, sure! 👍  You're probably aware of some of this stuff, because the jetpack README explains it by comparison (and jetpack does look quite nice, I'll definitely give it a look over!)

First approach was definitely to just try to exclude the `stats.json` from packaging, but:

- Because serverless-webpa

[2020-06-16 01:27] ryan-roemer commented on #47
Oh, haha, you are correct. (I forget because `serverless-jetpack` _does_ allow the built-in package.include|exclude in addition to tracing).

Let me review your use case in more depth and I'll check back in. All in all, the feature request isn't that big of a change I'm guessing, but we'll see if we can get you a first class solution without it.

[2020-06-17 19:40] #47 closed

[2020-08-12 15:38] evilebottnawi opened #52 "improve compatibility with webpack@5"
in webpack@5 adding assets on emit hook is deprecated, so it should be improve, we talked with @sokra about migration and compatibility.

So, we need do migration on `done` hook and use `compilation.intermediateFileSystem`

Thanks for plugin.

P.S. I would also like to say that it is very popular and we would to get it in `webpack-contrib` as official plugin, if you interested in this, just say me

[2020-08-12 23:37] ryan-roemer commented on #52
Hi @evilebottnawi ! 👋

I've started a branch on this at https://github.com/FormidableLabs/webpack-stats-plugin/tree/feature/webpack5 and I've got my test harness in place for all of webpacks 1 - 5 now (using beta 25) and everything works as-is.

For migrating to the new format do you have any examples? I was able to access the `intermediateFileSystem` fs methods but they're not working the way I w

[2020-08-13 11:06] evilebottnawi commented on #52
@ryan-roemer Hello, you can't add asset to `compilation.assets` in done hook, I think it is unnecessary, does it exist when you need stats file for memory filesystem?

/cc @sokra

[2020-08-13 12:54] ryan-roemer commented on #52
So right now in `emit` hook/event I'm doing this:

[code]

where `filename` is relative to config `output.path`. Instead, I was planning on stashing `statsStr` and outputting it later through whatever means during the `done` hook, but I'm just not sure what that looks like. (I took a stab before, but the relative paths of `filename` weren't matching up correctly or something). I didn't get that fa

[2020-08-14 11:26] evilebottnawi commented on #52
@ryan-roemer You can use `getAssetPath` https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L3038 to get right path for `filename`

I can send a PR late with example, do we really need webpack@3 supporting? Because it was deprecated and unsupported?

[2020-08-14 13:32] sokra commented on #52
Ok I see multiple use cases for this plugin:

1. You want a complete stats.json for further analytics e. g. webpack-bundle-analyser or other tools of this kind.

2. You want a partial stats.json with specific info for usage by some server-side code e. g. to create the HTML file with the correct script tags.

3. You want a partial stats.json for usage by some client-side code e. g. to send the buil

[2020-08-17 22:14] ryan-roemer commented on #52
Thanks for the in-depth comment @sokra !

@evilebottnawi -- I've got test fixtures mostly up and running, but I'm currently blocked by `webpack-cli@4.0.0-beta.8` because my test config is:

[code]

but with `webpack-cli@4.0.0-beta.8` that entry config isn't being used and instead, it's finding the library itself one level up at `../../../index.js` which mucks up all my testing with using an incorr

[2020-08-18 10:17] evilebottnawi commented on #52
@ryan-roemer Thanks, new release will be soon (today/tomorrow)

[2020-10-15 02:35] ryan-roemer commented on #52
Hi @sokra -- Now that `webpack-cli` has been released and unblocked me, I've got my webpack5 test suite passing via the deprecated method and am turning back to upgrade this plugin.

I'd ideally like just **one place** that emits stats and emits them as completely as possible (I don't mind if say later plugins then emit assets that get missed).  So, if I want to do the `compilation.emitAsset(filen

[2020-10-15 04:24] ryan-roemer commented on #52
@sokra @evilebottnawi -- I've now got a WIP PR/branch up at: https://github.com/FormidableLabs/webpack-stats-plugin/pull/54

I'm going for this for the modern webpack5 hook:

[code]

but I'm not totally sure `PROCESS_ASSETS_STAGE_DERIVED` is the best stage, but it does avoid the deprecation warning (I reviewed through the webpack code to find it and the docs). Seems right, but this is all a bit un

[2020-10-15 11:31] evilebottnawi commented on #52
Drop old versions of webpack and use `curCompiler.emitAsset` always, no need to support 4.10.0/4.11.0/etc

Yes, you need to use `compilation.hooks.processAssets` if you need to adding assets

[2020-10-15 18:10] #52 closed

[2020-10-15 18:18] ryan-roemer commented on #52
Released in `webpack-stats-plugin@1.0.0`. Thanks for the help @evilebottnawi @sokra !

[2020-10-20 03:55] koconnorIXL opened #55 "Bug: Multiple stats outputs with mini-css-extract-plugin"
I encountered some unexpected errors today when I attempted to upgrade my webpack project to webpack v5. While I am not sure that the "fault" for these errors lies with webpack-stats-plugin, it seems to me like this plugin was certainly involved. So I wanted to post here in case anyone is interested, or can provide me with advice. Without further ado, here goes.

For starters, the error that I was

[2020-10-20 05:11] koconnorIXL opened #56 "Bug: Incorrect stats vs. real file names in RealContentHashPlugin"
I encountered some unexpected errors today when I attempted to upgrade my webpack project to webpack v5. While I am not sure that the "fault" for these errors lies with webpack-stats-plugin, it seems to me like this plugin was certainly involved. So I wanted to post here in case anyone is interested, or can provide me with advice. Without further ado, here goes.

Specifically, the problem I was ru

[2020-10-20 05:32] ryan-roemer commented on #56
Thanks for the detailed comment and info! One thing that would be awesome to help us jump in is a minimal repository with install and build steps outlined as well as what you would want to happen that is not from the build output.

We just updated the lifecycle hook we use to add the stats output asset and it’s much earlier than the now deprecated metros we used before. There are also different st

[2020-10-20 07:01] koconnorIXL commented on #56
Sure thing. Check out this repo: https://github.com/koconnorIXL/webpack-stats-sandbox

Run `npm install` and `npm run build`, then observe that the files listed in `dist/stats.json` do not match the filenames of the files in `dist/`

[2020-10-20 09:38] kelunik commented on #52
@ryan-roemer Thanks for the update! Unfortunately, this results in `Conflict: Multiple assets emit different content to the same filename stats.json` for me. This happens, because the `processAssets` hook is called multiple times.

[2020-10-20 09:57] evilebottnawi commented on #52
@ryan-roemer https://github.com/FormidableLabs/webpack-stats-plugin/blob/main/lib/stats-writer-plugin.js#L75

[code]

[2020-10-20 12:11] ryan-roemer commented on #52
@evilebottnawi -- Thanks I'll try that out! Other question if you're around -- is there a better explanation of the `stage`s available for `processAssets` hook? In particular which one is the latest one in the build to call?

@kelunik -- I'll get a brach up soon for you to try with @evilebottnawi's sugggestion

[2020-10-20 12:18] ryan-roemer opened #57 "Bug: Multiple output from repeated processAssets hook call."
See: https://github.com/FormidableLabs/webpack-stats-plugin/issues/52#issuecomment-712726444

[2020-10-20 12:29] ryan-roemer commented on #56
Thanks -- I can confirm the hashes are different in stats object vs. filename.

[2020-10-20 12:31] ryan-roemer commented on #55
@koconnorIXL -- This may be related to:

- https://github.com/FormidableLabs/webpack-stats-plugin/issues/57
- https://github.com/FormidableLabs/webpack-stats-plugin/issues/52#issuecomment-712726444

Would you have a chance to create a minimal repository to reproduce this issue like you did for the other issue or enhance that repo to exhibit the issues you see in both this issue and #56 ? Thanks!

[2020-10-20 12:37] ryan-roemer commented on #52
@kelunik @koconnorIXL -- I have a branch up at [`bug/webpack5`](https://github.com/FormidableLabs/webpack-stats-plugin/tree/bug/webpack5) with a work-in-progress PR at: https://github.com/FormidableLabs/webpack-stats-plugin/pull/58 if anyone can comment on if this addresses the multiple `processAssets` calls issue. (I'm working on other webpack5-integration issues introduced in 1.0.0 in that branc

[2020-10-20 12:43] evilebottnawi commented on #52
@ryan-roemer

I think this is good https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L3463

[2020-10-20 12:51] ryan-roemer commented on #56
@koconnorIXL -- I have new commits in [`bug/webpack5`](https://github.com/FormidableLabs/webpack-stats-plugin/tree/bug/webpack5) / https://github.com/FormidableLabs/webpack-stats-plugin/pull/58 that I believe fix this issue. Can you confirm if you have a moment?

Here's my your repository with the new branch-based plugin for me:

[code]

[2020-10-20 13:42] #55 closed

[2020-10-20 13:42] #56 closed

[2020-10-20 13:42] #57 closed

[2020-10-20 13:44] ryan-roemer commented on #52
Fixes released in `webpack-stats-plugin@1.0.1`

[2020-10-20 13:45] ryan-roemer commented on #55
Fixes released in `webpack-stats-plugin@1.0.1`

@koconnorIXL -- Can you confirm the fix?

[2020-10-20 13:45] ryan-roemer commented on #56
Fixes released in `webpack-stats-plugin@1.0.1`. I have a regression test for this case now, so I'm pretty sure it's fixed.

[2020-10-20 15:12] koconnorIXL commented on #55
@ryan-roemer - Yes indeed, I am no longer experience this bug after upgrading to v1.0.1. Thanks for helping me out so quickly!

[2020-10-20 15:36] koconnorIXL commented on #52
@ryan-roemer - All of my problems seem resolved after your changes

[2020-10-20 15:38] koconnorIXL commented on #56
Yep, things are looking good on my end. Thanks a lot!

[2020-10-20 16:43] ryan-roemer commented on #55
Great! Thanks for both your issues, detailed analyses, and the repository to help me validate fixes faster @koconnorIXL !

[2020-10-20 16:44] #37 closed

[2020-10-20 16:45] ryan-roemer commented on #34
Closing as old issue with known behavior. Feel free to re-open if there's some aspect this plugin _should_ be doing.

[2020-10-20 16:45] #34 closed

[2020-10-26 18:17] jdelStrother commented on #52
I'm still on webpack 4, and on upgrading from webpack-stats-plugin 0.3.2 have started seeing "WARNING in Conflict: Multiple assets emit different content to the same filename stats.json".

I'm using these webpack packages:

[code]

[2020-10-26 18:50] ryan-roemer commented on #52
@jdelStrother -- Can you create a minimal repository with install and build steps to produce the issue? Thanks!

[2020-10-27 11:08] jdelStrother opened #59 "Bug: webpack --watch adds "stats.json" to output causing "multiple assets emit different content to the same filename" error."
If I initialize the plugin with a custom `fields` list - eg:

[code]

and run `webpack --watch`, each time assets are changed, I see this warning in the output:

[code]

This only started in the 1.0.x releases - 0.3.2 doesn't display the same problem.

There's a demo repo here: https://github.com/jdelStrother/webpack-stats-test

[2020-10-27 11:10] jdelStrother commented on #52
Sure, see #59

[2020-10-27 15:44] ryan-roemer commented on #59
@jdelStrother Thanks for the repo! Issue confirmed.

The issue appears to be on the first build (or a standalone `webpack` run without `--watch`) we get this:

[code]

However, with `webpack --watch` in memory, it now picks up the "asset" of `stats.json` and adds _it_ to the stats output:

[code]

@evilebottnawi -- Any ideas on this issue?

Ideally I think that `stats.json` should not be considere

[2020-10-27 17:13] evilebottnawi commented on #59
@ryan-roemer weird, I can't reproduce

[2020-10-27 17:21] evilebottnawi commented on #59
That's why we changed assets workflow, because most of them made just such a bug, logic is simple:
[code]

[2020-10-27 17:22] evilebottnawi commented on #59
If you want we can implement cache here to avoid extra writing not changed assets

[2020-10-29 13:24] ryan-roemer opened #61 "Test: Add webpack unit tests."
Currently our tests just do E2E testing invoking `webpack` live or for previous builds. We should consider adding unit tests with running `webpack()` in memory for things like:

- `webpack --watch` regression for https://github.com/FormidableLabs/webpack-stats-plugin/pull/60 (add some `sinon.spy()` on the hooks in webpack4 vs webpack5).
- ... ?

[2020-10-29 13:28] #59 closed

[2020-11-16 12:25] martinbroos opened #62 "In webpack watch mode the MiniCssExtractPlugin fonts are not included in the stats file"
When using the following file-loader setup:

[code]

And using the webpack-stats-plugin:

[code]

the .woff and .woff2 files aren't included in the outputted `stats.json`. But weird enough this only happens when in watch mode. When making a regular build the files are included.
The woff files are picked up by the file-loader when using an @font-face inside the .scss file.
Other assets, like svg ar

[2020-11-16 13:40] martinbroos commented on #62
After some more testing I noticed that this only occurs when fonts are imported in .scss files. When i'm importing the font file in my index.js it gets added in the `stats.json` file during watch mode.

[2020-11-16 15:54] ryan-roemer commented on #62
@martinbroos Thanks for the report. Would you be able to create a minimal public repository with install and build/error reproduction steps with what you'd expect vs what is actually happening? Thanks!

[2020-11-16 16:36] martinbroos commented on #62
@ryan-roemer thanks for your response, I prepared a repository which demonstrates the issue:

https://github.com/martinbroos/webpack-stats-poc

**Steps to reproduce:**

1. `npm run dev:build `
2. the `build/stats.json` now correctly contains info about the used font
3. `npm run dev:watch`
4. make some change in app.scss to trigger the watcher
5. now the `build/stat.json` no longer contains the fon

[2020-11-17 21:03] ryan-roemer commented on #62
@martinbroos Thanks!!! Will try and get to this this week!

[2020-11-19 05:41] ryan-roemer commented on #62
Confirmed behavior. Run first with `dev:build` and save and then second with `dev:build:watch` and save produces this diff:

[code]

I'm going to now look into whether or not it's the fault of `webpack-stats-plugin` or the other plugins at issue...

[2020-11-19 06:15] ryan-roemer commented on #62
I've been digging into the compiler and the woff `assets` really aren't there during watch mode after a change.

Confirmed that pre-webpack5-adjustment webpack exhibits exactly the same behavior:

[code]

... which means it's not anything to do with our hooks / lifecycle changes.

My suspicion is that it's an upstream issue that somehow a plugin / loader isn't adding assets appropriately in watch

[2020-11-19 10:38] martinbroos commented on #62
The file-loader looks like the first place to start then. But what I find weird that it's only the case with font files. When using an svg in a scss file it works as expected and is part of the stats.json after a watch build.

[2020-11-23 22:05] ryan-roemer commented on #62
Did some further research, and I think it's actually something in the `MiniCssExtractPlugin`. Here I've hard coded `IS_DEV` using their guide to skip MCEP in dev and then use it for prod bundles. With this change, the `woff(2)` files do appear correctly in `stats.json` after changes.

[code]

I'm going to mark this as an upstream bug with `MiniCssExtractPlugin`. Would love an issue number in `Mini

[2020-12-01 20:36] martinbroos commented on #62
@ryan-roemer sorry for the late response. Looking at your code i'm thinking maybe we shouldn't use mini-css-extract-plugin in development then but rely on style-loader, which is [recommended in the docs](https://webpack.js.org/plugins/mini-css-extract-plugin/#common-use-case). But not sure if that will output a .css file, i will need to try this.

I did find a issue but it's already closed: https:

[2020-12-18 13:12] martinbroos commented on #62
@ryan-roemer I tried upgrading the POC to webpack 5 and luckily this also resolves the issue :)
Now the fonts stay available in the stats.json when in watch mode.

You can see the result here: https://github.com/martinbroos/webpack-stats-poc
Since webpack 5 is stable now, I'm fine with closing this issue. Not expecting this to be resolved for webpack 4.

[2020-12-19 05:24] ryan-roemer commented on #62
Works for me. Thanks for the confirmation and work!

[2020-12-19 05:24] #62 closed

[2020-12-25 12:20] alexander-akait opened #65 "use webpack sources instead pseudo object"
Ref: https://github.com/webpack-contrib/compression-webpack-plugin/issues/236

It is wrong to do this https://github.com/FormidableLabs/webpack-stats-plugin/blob/main/lib/stats-writer-plugin.js#L140 (maybe time to typescript or typescript jsdoc to avoid these problems in future).

It should be for webpack@5:
[code]

[2020-12-25 16:11] ryan-roemer commented on #65
Thanks! I’ll try and get a PR/release out sometime today...

[2020-12-25 18:48] #65 closed

[2020-12-25 19:08] ryan-roemer opened #67 "CI: Switch to GitHub Actions"

[2020-12-25 19:08] ryan-roemer opened #68 "CI: Add windows to test matrix"
After https://github.com/FormidableLabs/webpack-stats-plugin/issues/67

[2021-01-20 16:19] olessavluk commented on #37
WDS also have `writeToDisk` method which can help to achieve this https://github.com/webpack/webpack-dev-middleware#writetodisk

[2022-01-11 20:16] #25 closed

[2022-03-10 13:07] gajus opened #82 "Blank page"
This plugin produces `stats.json`:

[code]

Which I use to generate HTML which includes:

[code]

However, when app loads, it's just a blank page. No errors or anything. It is not clear what is missing.

[2022-03-10 13:21] gajus commented on #82
Looks like what I needed was not `assetsByChunkName` but `entrypoints`.

[code]

Using this configuration, I got the scripts that when loaded are sufficient to launch the application.

Might be worth mentioning in `README.md`.

[2022-03-10 13:21] #82 closed

[2022-06-17 23:47] khanguy00 opened #84 "OOM with the big stats object"
We have a project that the stats object may be larger than 10GB, so using `JSON.stringify()` is not feasible. Is it possible to use https://github.com/Faleij/json-stream-stringify instead of the current approach?

[2022-06-20 05:38] ryan-roemer commented on #84
You should be able to limit OOM already with:

1. Use https://github.com/FormidableLabs/webpack-stats-plugin#custom-stats-configuration to ensure you're only passing just the stats fields you need at the webpack level; and then
2. Use https://github.com/FormidableLabs/webpack-stats-plugin#custom-transform-function where you can pass anything you want to `transform()` to serialize including the lib

[2022-06-20 06:26] khanguy00 commented on #84
We actually tried both but didn't help. Because we need the module list with its dependencies (aka `reasons`) to analyze, so the string representation would be huge (more than 16GB), but we can't just keep increasing `max-old-space-size` whenever it's OOM-ed.

I'm considering forking this project and working on `JSONStreamStringify` instead.

[2022-06-20 09:42] ryan-roemer commented on #84
If you look at our source, the only use of JSON.stringify is in transform, which it sounds like you already tired to swap out with the stream version. I’m not sure what further changes to this plugin would actually address your issue. What did your webpack configuration look like when you tried to use the json stream library on transform?

[2022-06-20 10:49] khanguy00 commented on #84
I tried this:

[code]

And then the OOM happened when it pushes too many things to `_buf` array.

I need that because of this:

https://github.com/FormidableLabs/webpack-stats-plugin/blob/a762b43a1e6bf7a8f84bf77c88b1982afadeb1af/lib/stats-writer-plugin.js#L137-L139

As you can see, it needs to push something to `new Buffer()`, so basically another in-memory serialization.

I think we need a way to

[2022-07-22 13:30] shwarcu opened #88 "Output is missing "time" property"
Hi,
I try to use this plugin to retrieve stats on how much does compilation take in webpack.
When I run webpack with options `--profile --json > compilation-stats.json` then I get `time` property in the output.
<img width="1257" alt="Screenshot 2022-07-22 at 15 26 16" src="https://user-images.githubusercontent.com/58426925/180449458-b3fcf78b-3c9d-4648-9f88-d981150f3791.png">

But when I use this p

[2022-07-22 22:41] ryan-roemer commented on #88
So, the issue is that the stats output file is part of the webpack compilation, and webpack doesn't assign the field until the compilation is complete after the hook we use (and we deliberately picked the latest hook we could to still emit during the compilation). See: https://github.com/FormidableLabs/webpack-stats-plugin/blob/main/lib/stats-writer-plugin.js#L80-L86

Here's an admittedly second c

[2022-07-25 07:06] shwarcu commented on #88
Thanks for explaining. I will give it a try as for now I don't see other option to measure webpack processing time programmatically without wrapping it with some script. My goal is to have a json file as an output with stats

[2022-07-25 07:06] #88 closed

[2022-08-04 20:16] #67 closed

[2022-08-12 01:43] ccortezaguilera commented on #84
Hello I stumbled upon this issue because I have stat object that is also pretty large. I tried the PR that you, @ryan-roemer, created and it fits my use case and works great! Can that PR get merged?

[2022-08-12 01:55] #84 closed

[2022-08-12 01:59] ryan-roemer commented on #84
Released in `webpack-stats-plugin@1.1.0`

/cc @ccortezaguilera (thanks for the comment!)

[2022-10-28 20:36] KarunaLakshman opened #91 "Filename with .js extension fails in webpack@5"
**Versions:**

- webpack@5.74.0
- webpack-stats-plugin@1.1.0

**Problem:**

To meet the project requirement, I'm supposed to generate `stats.js` file instead of the default `stats.json` file.  Unfortunately the below setup ended up with an error.

[code]
**Error:**

[code]

**Tips:**

I found  `curCompiler.webpack` at [line 157](https://github.com/FormidableLabs/webpack-stats-plugin/blob/main/lib/

[2022-10-28 20:48] ryan-roemer commented on #91
`curCompiler.webpack` is part of a ternary check that allows it to be false-y. Also, `sourceAndMap` isn't used by this plugin at all. From your stack trace it looks like you have an error in the `terser-webpack-plugin` and not this plugin.

If you diagnose further and think that this plugin is somehow involved, can you open a minimal repository with install, build / error reproduction steps? Thank

[2022-10-28 20:50] ryan-roemer commented on #91
Ah -- so it may be the case that `stats.js` is then getting minified. What I'd suggest is taking this plugin out of your config first. Manually drop in the created JS file you're expecting to create and then verify it can be minified correctly by terser.

[2022-10-28 20:55] ryan-roemer commented on #91
OK -- I have reproduced this one. Weird.

Anyways, issue is verified and I'll look in further. Thanks!

[2022-10-28 22:15] ryan-roemer commented on #91
@KarunaLakshman if you have a moment, can you pull down and try out https://github.com/FormidableLabs/webpack-stats-plugin/pull/92 ? Thanks!

[2022-10-29 07:56] KarunaLakshman commented on #91
@ryan-roeme, I really appreciate your quick act and thank you! Sure I'll try it today and let you know

[2022-10-29 09:19] KarunaLakshman commented on #91
Hey @ryan-roemer, I tested your changes and it worked great. Thanks once again for the fix and the cool plugin.

[2022-10-29 15:32] #91 closed

[2022-10-29 15:35] ryan-roemer commented on #91
Fix released in `webpack-stats-plugin@1.1.1`